
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="../Controller/ContestCadastro.js" defer></script>
    <title>Cadastro</title>

   
</head>
<body>

<div class="container">
    <h2>Cadastro</h2>

    <input type="email" id="email" placeholder="Digite seu email">
    <input type="password" id="senha" placeholder="Digite sua senha">

    <button onclick="cadastrar()">Criar conta</button>

    <div class="msg" id="mensagem"></div>
</div>



</body>
</html>

